#logout:hover{
    color: rgba(66, 146, 68, 0.95);
}

.table-hover tbody tr:hover{
    color:#ffffff;
    background-color:rgba(0,0,0,.075)
}

.sel-year {
    background-color: #2d3035; 
    color: #8a8d93;
    padding: 5px;
    border-radius: 3px;
    width: 200px;
}